.sec2-HP-pc {
    background-image: url("/images/homepage/sec2/Group 101.png");
    background-size: 100% 105%;
    padding-bottom: 5%;
    padding-top: 3%;
    background-position: center -10px;
}

.row-test {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row-test-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;*/
}

.img-sec2-hp-1 {
    transform: translateX(14%);
}

.img-sec2-hp-2 {
    transform: translateX(-14%);
}

.header-first-line-hp {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
}

.header-second-line-hp {
    color: #D8AB67;
    font-size: 40px;
    line-height: 35px;
}

.text-hp {
    font-size: 15px;
    text-align: justify;
    color: white;
}

.co-header-css {
    margin-left: 12%;
}

.first-text-hp {
    margin-left: 15%;!important;
    margin-bottom: 10%;
}

.double-border {
    border: 2px solid ; /* Border đầu tiên */
    outline: 2px solid #EFD483; /* Border thứ hai (outline) */
    background-color: #EFD483;
    color: inherit;
    text-decoration: none;
    font-size: 17px;
}

.double-border:hover {
    color: #1c294e;
}

.header-content2-sec2-hp {
    text-transform: uppercase;
    text-align: right;
    justify-content: right;
}

.text1-content2-sec2-hp {
    margin-top: 10%;
}

.btn-content2-sec2-hp {
    margin-top: 10%;
    text-align: right;
}

.sec2-hp-mb {
    justify-content: center;
    text-align: center;
    /*padding-top: 5%;*/
    padding-bottom: 7%;
    background-image: url("/images/homepage/sec2/Group 101.png");
    background-size: auto;
    background-position: center -10px;
}

.text-hp-mb {
    width: 90vw;
    margin-left: 5%;
    text-align: justify;
    color: white;
}

.img-sec2-hp-mb {
    padding-bottom: 5%;
}

.line-height-cap {
    line-height: 15px;
}

.header-first-line-hp-mb {
    color: white;
    font-size: 18px;
    padding-top: 5%;
    text-transform: uppercase;
}

.header-second-line-hp-mb {
    color: #D8AB67;
    font-size: 25px;
}
