.sec2-HP-pc {
    background-image: url("/images/homepage/sec2/Group 101.png");
    background-size: 100% 105%;
    padding-bottom: 5%;
    padding-top: 3%;
    background-position: center -10px;
}

.row-test {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row-test-1 {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.row-test-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;*/
}

.img-sec2-hp-1 {
    /*padding-left: 2%;*/
    /*padding-right: 4%;*/
}

.left-test-1 {
    width: 20vw;
}

.left-test {
    width: 77vw;
}

.right-test-1 {
    width: 77vw;
    padding-right: 1%;
    padding-top: 2%;
}

.right-test {
    right: 30vw;
}

.img-sec2-hp-2 {
    /*padding-right: 2%;*/
    padding-left: 2%;
}

.header-first-line-hp-1 {
    text-transform: uppercase;
    color: white;
    font-size: 1.09vw;
    /*width: 20vw;*/
    padding-left: 4%;
}

.header-first-line-hp {
    text-transform: uppercase;
    color: white;
    font-size: 1.09vw;
    width: 20vw;
    padding-right: 12%;
}

.header-second-line-hp-1 {
    color: #EFD483;
    font-size: 2.66vw;
    line-height: 40px;
    /*width: 20vw;*/
    padding-left: 4%;
}

.header-second-line-hp {
    color: #EFD483;
    font-size: 2.66vw;
    line-height: 40px;
    width: 20vw;
    padding-right: 12%;
}

.text-hp {
    font-size: 0.85vw;
    /*text-align: justify;*/
    color: white;
}

.co-header-css {
    /*margin-left: 12%;*/
}

.first-text-hp {
    /*margin-left: 13%;!important;*/
    margin-bottom: 10%;
    /*letter-spacing: 0.045rem;*/
}

.double-border {
    border: 3px solid ; /* Border đầu tiên */
    outline: 2px solid #EFD483; /* Border thứ hai (outline) */
    background-color: #EFD483;
    color: inherit;
    text-decoration: none;
    font-size: 0.8vw;
    padding-top: 9px;
    padding-bottom: 9px;
}

.double-border-blue {
    border: 2px solid ; /* Border đầu tiên */
    outline: 3px solid #133351; /* Border thứ hai (outline) */
    background-color: #133351;
    /*color: inherit;*/
    text-decoration: none;
    /*font-size: 0.8vw;*/
    padding-top: 12px;
    padding-bottom: 12px;
}

.double-border:hover {
    color: #1c294e;
}

.double-border-blue:hover {
    color: white;
}

.header-content2-sec2-hp {
    text-transform: uppercase;
    text-align: right;
    justify-content: right;
}

.text-content1-sec2-hp {
    margin-top: 5%;
    width: 14vw;
    /*margin-left: 18%;*/
    justify-content: right;
    text-align: justify;
}

.text1-content2-sec2-hp {
    margin-top: 5%;
    width: 14vw;
    margin-left: 18%;
    justify-content: right;
    text-align: justify;
}

.btn-content2-sec2-hp {
    margin-top: 10%;
    text-align: right;
    padding-right: 12%;
}

.sec2-hp-mb {
    justify-content: center;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 12%;
    background-image: url("/images/homepage/sec2/Group 101.png");
    background-size: auto;
    background-position: center -10px;
}

.text-hp-mb {
    width: 90vw;
    margin-left: 5%;
    text-align: justify;
    color: white;
}

.img-sec2-hp-mb {
    padding-bottom: 7%;
}

.line-height-cap {
    line-height: 15px;
}

.header-first-line-hp-mb {
    color: white;
    font-size: 13px;
    padding-top: 5%;
    text-transform: uppercase;
}

.header-second-line-hp-mb {
    color: #EFD483;
    font-size: 25px;
}
