.sec3-hp-pc {
    background-image: url("/images/homepage/sec3/Group 102.png");
    background-size: cover;
    padding-bottom: 60%;
    padding-top: 5%;
}

.left-img-sec3-hp {
    padding-left: 5%;
    padding-right: 2.5%;
}
.mid-img-sec3-hp {
    padding-right: 2.5%;
    padding-left: 2.5%;
}
.right-img-sec3-hp {
    padding-left: 2.5%;
    padding-right: 5%;
}

.img-sec3-hp-mb {
    margin-left: 9%;
}

.left-sec3-mb {
    padding-right: 3%;
}

.right-sec3-mb {
    padding-left: 3%;
}

.sec3-hp-mb {
    padding-top: 5%;
    padding-bottom: 80%;
    background-image: url("/images/homepage/sec3/Group 102.png");
    background-size: cover;
}
