.btn-content-sec5-hp {
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.btn-content-sec6-hp {
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 0.5%;
}

.btn-content-footer {
    text-align: right;
    /*margin-top: 2%;*/
    /*margin-bottom: 2%;*/
}
