.sec7-v-hp-pc {
    display: block;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-image: url("/images/homepage/sec7-v/Group 98 (1).png");
    background-size: cover;
}

.header-sec7-v-hp {
    padding-top: 15%;
    color: white;
    font-size: 30px;
    letter-spacing: 0.35rem;
}

.header2-sec7-v-hp {
    color: #EFD483;
    font-size: 50px;
}
.btn-sec7-v-hp {
    width: 15vw;
    height: 5vh;
    background-color: #EFD483;
}

.sec7-v-hp-mb {
    display: block;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 45vh;
    background-image: url("/images/homepage/sec7-v/Group 98.png");
}

.header-sec7-v-hp-mb {
    padding-top: 15%;
    color: white;
    font-size: 18px;
    letter-spacing: 0.35rem;
}

.header2-sec7-v-hp-mb {
    color: #EFD483;
    font-size: 27px;
}

.btn-sec2-hp-mb {
    font-size: 12px;
}
