@font-face {
    font-family: 'Mulish-ExtraBold';
    src: url("/Fonts/Mulish-Medium.ttf");
}

@font-face {
    font-family: 'Cabin-Medium';
    src: url("/Fonts/Cabin-Medium.ttf");
}

@font-face {
    font-family: 'iCielBegum';
    src: url("/Fonts/iCielBegum.otf");
}

@font-face {
    font-family: 'Mulish-Black';
    src: url("/Fonts/Mulish-Black.ttf");
}

.mulish-extrabold {
    font-family: 'Mulish-ExtraBold', sans-serif;
    font-weight: 800;
    letter-spacing: 0.2rem;
}

.cabin-medium {
    font-family: 'Cabin-Medium', sans-serif;
}

.icielbegum {
    font-family: 'iCielBegum', sans-serif;
}

.mulish-black {
    font-family: 'Mulish-Black', sans-serif;
}

.mulish-black-white {
    font-family: 'Mulish-Black', sans-serif;
    color: white;
}

.space-21 {
    letter-spacing: 0.325rem;
}

.space-51 {

}

.space-15 {
    letter-spacing: 0.045rem;
}
