.sec2-product-pc {
    background-image: url("/images/product/sec2/Group 103 (2).png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5.5%;
    background-position: center -10px;
    scale: 101%;
}

.img-sec2-product-pc {
    padding-left: 50px;
}

.mainheader1-sec2-product-pc {
    padding-left: 5%;
    text-transform: uppercase;
    font-size: 2.66vw;
}

.mainheader2-sec2-product-pc {
    padding-left: 5%;
    font-size: 2.66vw;
}

.header-sec2-product-pc {
    text-transform: uppercase;
    font-size: 21px;
    padding-top: 15%;
    color: #133351;
    letter-spacing: 0.35rem;
    /*padding-left: 14%;*/
}

.container-sec2-product-pc {
    margin-top: 2%;
}

.content-sec2-product-pc {
    padding-left: 5%;
    padding-bottom: 5%;
}

.header2-sec2-product-pc {
    font-size: 40px;
    text-transform: uppercase;
}

.img2-sec2-product-pc {
    padding-left: 3%;
}

.text-sec2-product-pc {
    text-align: justify;
    font-size: 15px;
    color: #43496B;
}

.text-sec21-product-pc {
    text-align: justify;
    font-size: 14px;
    font-style: italic;
    color: #43496B;
}
