.sec1-intro-pc {
    background: rgba(19, 51, 81, 1);
    width: 100vw;
    background-size: cover;
    padding-top: 12.5vh;
}

.sec1-intro-mb {
    /*background-image: url("/images/introduce/sec1/Rectangle 171.png");*/

    background-size: cover;
    background-repeat: no-repeat;
    /*margin-top: 12vh;*/
}
