.sec1-intro-pc {
    background-image: url("/images/introduce/sec1/Rectangle 171.png");
    width: 100vw;
    height: 83vh;
    background-size: cover;
    background-repeat: no-repeat;
    /*margin-top: 17vh;*/
}

.
