.sec2-intro-pc {
    background-image: url("/images/introduce/sec2/Group 110.png");
    background-size: 110% auto; /* Phóng to theo chiều ngang 10%, chiều cao tự động điều chỉnh */
    background-repeat: no-repeat;
    background-position: center bottom; /* Dịch chuyển hình nền xuống phía dưới */
}
@media (max-width: 900px) {
    .sec2-intro-pc {
        background-image: url("/images/introduce/sec2/Group 110.png");
        background-size: 900% auto; /* Phóng to theo chiều ngang 10%, chiều cao tự động điều chỉnh */
        background-repeat: no-repeat;
        background-position: center bottom; /* Dịch chuyển hình nền xuống phía dưới */
    }
}


.container-sec2-intro-pc {

}

.container-sec2-2-intro-pc {
    margin-top: 5%;
}

.header1-sec2-intro-pc {
    color: white;
}

.header2-sec2-intro-pc {
    color: #EFD483;
    font-size: 40px;
}

.right-text-sec2-intro-pc {
    color: white;
    text-align: justify;
}
.left-text-sec2-intro-pc {
    color: #EFD483;
    text-transform: uppercase;
    text-align: left;
    vertical-align: unset;

}
