.sec3-intro-pc {
    background-image: url("/images/introduce/sec3/Group 103 (1).png");
    background-repeat: no-repeat;
    padding-bottom: 40%;
    background-position: center;
    background-size: 100% 100%;
}

.text-sec3-intro-pc {
    text-align: justify;

}

.all-header-sec3-intro-pc {
    padding-top: 10%;
}

.header1-sec3-intro-pc {
    text-align: right;
    justify-content: right;
    font-size: 25px;
}

.header2-sec3-intro-pc {
    font-size: 40px;
    text-align: right;
    justify-content: right;
}

.header3-sec3-intro-pc {
    text-align: right;
    justify-content: right;
    font-size: 40px;
}
