.sec3-intro-pc {
    background-image: url("/images/introduce/sec3/3. Bản giao hòa.png");
    background-repeat: no-repeat;
    padding-bottom: 40%;
    background-position: center -10rem;
    background-size: 120% auto;
}

.text-sec3-intro-pc {
    text-align: justify;
    color: #133351;
    padding-right: 3%;
    padding-left: 1.5%;
}

.all-header-sec3-intro-pc {
    padding-top: 10%;
    padding-right: 3%;
}

.header1-sec3-intro-pc {
    text-transform: uppercase;
    text-align: right;
    justify-content: right;
    font-size:  1.09vw;
    color: #133351;
    letter-spacing: 0.35rem;
}

.header2-sec3-intro-pc {
    font-size: 2.66vw;
    text-align: right;
    justify-content: right;
    color: #11293F;
}

.header3-sec3-intro-pc {
    text-align: right;
    justify-content: right;
    font-size: 2.66vw;
    color: #BA322E;
    margin-top: -1.5%;
}

.sec3-intro-mb {
    background-image: url("/images/introduce/sec3/Group 103 (1).png");
    background-position: -800px -120px;
    display: block;
    justify-content: center;
    text-align: center;
    padding-bottom: 100%;
}

.text-sec3-intro-mb {
    width: 90vw;
    margin-left: 5%;
    text-align: justify;
    color: #133351;
    font-size: 13px;
}

.header-first-line-intro-mb {
    color: #133351;
    font-size: 13px;
    padding-top: 12%;
    text-transform: uppercase;
}

.header-second-line-intro-mb {
    color: #133351;
    font-size: 29px;
}

.header-third-line-intro-mb {
    color: #BA322E;
    font-size: 29px;
}
