.sec4-intro-pc {
    display: block;
    justify-content: center;
    text-align: center;
    background-image: url("/images/introduce/sec4/Group 105 (1).png");
    background-size: 100% 100%;
    padding-bottom: 115%;
    padding-top: 5%;
}

.header1-sec4-intro-pc {
    font-size: 1.09vw;
    color: #133351;
    letter-spacing: 0.35rem;
}

.header2-sec4-intro-pc {
    text-transform: uppercase;
    font-size: 2.66vw;
    color: #141C46;
}

.header21-sec4-intro-pc {
    text-transform: uppercase;
    font-size: 2.66vw;
    color: #43496B;
}

.header3-sec4-intro-pc {
    font-size: 2.66vw;
    margin-top: -1.5%;
    color: #BA322E;
}

.text-sec4-intro-pc {
    justify-content: center;
    text-align: justify;
    color: #43496B;
    font-size: 15px;
}

.sec4-intro-mb {
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 350%;
    background-image: url("/images/introduce/sec4/Group 105 (1).png");
    background-size: cover;

}

.header1-sec4-intro-mb {
    font-size: 18px;
    color: #133351;
}

.header2-sec4-intro-mb {
    width: 90vw;
    margin-left: 5%;
    text-transform: uppercase;
    font-size: 25px;
    margin-top: -3%;
    color: #133351;
}

.header21-sec4-intro-mb {
    /*width: 90vw;*/
    text-transform: uppercase;
    font-size: 25px;
    color: #43496B;
}

.header3-sec4-intro-mb {
    font-size: 25px;
    margin-left: 5%;
    width: 90vw;
    margin-top: -3%;
    color: #BA322E;
}
