.sec2-tien-do-pc {
    display: block;
    text-align: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url("/images/tien-do/Group 107 (1).png");
    background-size: 100% 170%;
    background-position: center -11px;
}

.header1-sec2-tien-do {
   letter-spacing: 0.35rem;
    font-size: 25px;
}

.header2-sec2-tien-do {
}
