.sec2-tien-do-pc {
    display: block;
    text-align: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url("/images/tien-do/Group 107 (1).png");
    background-size: 150% 150%;
    background-position: center -11px;
}

.header1-sec2-tien-do {
   letter-spacing: 0.35rem;
    font-size: 1.09vw;
    color: #141c46;
}
@media (max-width: 800px) {
    .header1-sec2-tien-do{
        font-size: 18px;
    }
}

.header2-sec2-tien-do {
    color: #133351;
}
