.sec2-loction-pc {
    background-image: url("/images/location/sec2/Group 105 (2).png");
    background-size: 100% 107%;
    background-position: center -15px;
    padding-top: 5%;
    /*padding-bottom: 5%;*/
}

.sec2-loction-mb {
    justify-content: center;
    text-align: center;
    background-image: url("/images/location/sec2/Group 105 (2).png");
    background-size: 100% 110%;
    background-position: center -7px;
    padding-top: 5%;
    padding-bottom: ;
}

.header1-sec2-location-pc {
    font-size: 1.09vw;
    color: white;
    letter-spacing: 0.35rem;
}

.header2-sec2-location-pc {
    font-size: 2.66vw;
    color: #EFD483;
}

.text-sec2-location-pc {
    font-size: 15px;
    text-align: justify;
    color: white;
    margin-top: -1.5%;
}

.img-sec2-location-pc {
    padding-top: 2%;
}

.header1-sec2-location-mb {
    font-size: 13px;
    color: white;
}

.header2-sec2-location-mb {
    font-size: 25px;
    color: #EFD483;
    text-transform: uppercase;
}

.text-sec2-location-mb {
    font-size: 15px;
    color: white;
    width: 90vw;
    margin-left: 5%;
    text-align: justify;
}

.img-sec2-location-mb {
    padding-bottom: 5%;
}
