.sec2-contact-pc {
    background-image: url("/images/contact-v/Group 106 (1).png");
    background-size: 100% 105%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-position: center -7px;
}

.sec2-contact-mb {
    justify-content: center;
    text-align: center;
    background-image: url("/images/contact-v/Group 106 (1).png");
    background-size: 100% 105%;
    padding: 5% 0;
    background-position: center -7px;
}

.content-sec2-contact-pc {
    padding-left: 3%;
}

.header1-sec2-contact-pc {
    text-transform: uppercase;
    font-size: 1.1vw;
    color: #43496B;
    font-weight: bold;
}

.header2-sec2-contact-pc {
    text-transform: uppercase;
    font-size: 2.66vw;
    color: #141C46;
}

.header3-sec2-contact-pc {
    text-transform: uppercase;
    font-size: 1.1vw;
    color: #133351;
}

.header4-sec2-contact-pc {
    text-transform: uppercase;
    color: #D93D32;
    font-size: 35px;
}

.text-sec2-contact-pc {
    text-align: justify;
    font-size: 15px;
    color: #133351;
    font-weight: bold;
}

.header1-sec2-contact-mb {
    text-transform: uppercase;
    font-size: 18px;
    color: #43496B;
}

.header2-sec2-contact-mb {
    text-transform: uppercase;
    font-size: 25px;
    color: #141C46;
}

.header3-sec2-contact-mb {
    text-transform: uppercase;
    font-size: 18px;
    color: #141C46;
}

.header4-sec2-contact-mb {
    text-transform: uppercase;
    color: #D93D32;
    font-size: 20px;
}

.text-sec2-contact-mb {
    text-align: justify;
    font-size: 15px;
    width: 90vw;
    margin-left: 5%;
    color: #133351;
}
